body {
    background-image: url(./Assects/Screenshot\ 2025-11-12\ 165021.jpg);
    color: white;
}

.hero {
    display: flex;
    justify-content: space-around;
}

.hero1 {
    display: flex;
    gap: 2em;
    align-items: center;
}

.hero1 h5:hover {
    color: orangered;
}

span {
    color: orangered;
}

.buy {
    background: orangered;
    padding: 15px;   
}

.buy:hover {
    padding: 16px;
    background: white;
    color: orangered;
}

.page {
    padding-top: 12%;
}

.page h1 {
   width: 26%; 
   font-size: 300%;
   padding-left: 40%;
}

.page p {
    width: 50%;
    padding-left: 30%;
}

.page .p {
    padding-left: 50%;
}

.explore {
    margin-left: 45%;
    background: orangered;
    padding: 1px;
    width: 13%;
    text-align: center;
}

.explore:hover {
    background: white;
    color: orangered;
}



@media (max-width:700px) {
    body {
      background-repeat: no-repeat;
      height: auto;
      width: auto;
    }

.hero {
    flex-direction: column;
}

.hero1 {
    flex-direction: column;
    gap: 0em;
    align-items: start;
    padding-left: 40%;
}

.hero h1 {
    font-size: 150%;
}

.buy {
    background: orangered;
    padding: 15px;   
}

.page {
    padding-top: 12%;
}

.page h1 {
   width: 0%; 
   font-size: 100%;
   padding-left: 20%;
}

.page p {
    width: 70%;
    padding-left: 15%;
}

.page .p {
    padding-left: 50%;
}

.explore {
    margin-left: 4%;
    background: orangered;
    padding: 1px;
    width: 1%;
    text-align: center;
}
 
}